<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="Console"
            name="Console"
            layout="${longdate} | ${message}"/>
    <target xsi:type="File"
            name="File"
            layout="${longdate} | ${message}"
            fileName="${basedir}/logs/${shortdate}.txt"
            archiveFileName="${basedir}/logs/archive/{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"/>
  </targets>
  <rules>
    <logger name="mooch.*" minlevel="Info" writeTo="Console,File" />
  </rules>
</nlog>